.media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

media-body {
    flex: 1;
}

.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-right: 12px;
    transition: transform .2s;
}

.media-img:hover {
    transform: scale(1.1);
}

.media-img-wrapper {
    width: 200px;
    text-align: center;
}

.price {
    color: green;
}

@media (max-width: 1024px) {
    .media {
        flex-direction: column;
    }
}